<div class="container">
  <div class="row">
    <div class="col-md-6 centered">
      <h2>Edit <%= resource_name.to_s.humanize %> profile</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
        </div>
    
        <div class="form-group">
          <%= f.label :avatar %>
          <%= f.file_field :avatar, class: "form-control"  %>
        </div>

        <div class="form-group">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true, class: "form-control"  %>
        </div>

        <div class="form-group">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :date_of_birth %><br />
          <%= f.date_select :date_of_birth, :start_year=>1890,:end_year=>2001, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password, "New password" %> <i>(leave blank if you don't want to change it)</i><br />
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %></br>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>

        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "New password confirmation" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :hometown %><br />
          <%= f.text_field :hometown, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :occupation %><br />
          <%= f.text_field :occupation, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :bio %> <em><%= '(140 characters maximum)'%></em><br />
          <%= f.text_field :bio, maxlength: 140, class: "form-control" %>
        </div>
      </br>
        <div class="actions">
          <%= f.submit "Update", class: "btn btn-primary" %>
        </div>
      <% end %>
      </br>
      <h3>Deactivate my account</h3>

      <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-warning" %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
