 <h1>NewsFeed</h1>

<% @activities.each do |activity| %>
  <div class = "activity">
    <% if activity.trackable_type == "Post" %>
      <b><%= "#{activity.trackable.user.full_name}"%></b>
      <%= link_to activity.owner.name, activity.owner if activity.owner %>
      posted <%= link_to activity.trackable.summary, activity.trackable.summary %>
    <% elsif activity.trackable_type == "Like" %>
      <b><%= "#{activity.trackable.user.full_name}"%></b> liked
      <b><%= "#{activity.trackable.post.author_full_name}'s"%></b> post:
      <%= link_to activity.trackable.post.summary, activity.trackable.post.summary%>
    <% end %>
</div>
<%end%>
