<h1>My albums</h1>
<br/>
<%= link_to "New album", new_user_album_path %>
<br/><br/>
<%if @albums %>
  <ul>
     <% @albums.each do |album| %>
        <li>
           <div>
	      <%= album.name %><br>
	      <%= album.description %><br>
	      <%= album.posted_at %><br>
        <%= link_to "Delete Album", user_album_url(:id => album.id), method: :delete %>

           </div>
        </li>
     <% end %>
  </ul>
<% end %>
