<%= simple_format(current_user.email)%>
<%= simple_format(@album.name)%>

<% @album.images.each do |image| %>
<%= image_tag image.data.url %>
<% end %>

<%= form_for [current_user, @album, @image], :html => { :class => 'form-horizontal', multipart: true } do |f| %>
  <div class="control-group">
    <%= f.label :Upload, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :images, type: :file, multiple: true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit" %>
  </div>
  <% end %>

  <%= link_to user_albums_url do %>
  Albums
  <% end %>
