<% @posts.each do |post| %>
  <div class="post">
    <div class="post__head">
      <span class="post__head__user">
        <%= post.id  %>
      </span>
      <span class="post__head__date">
        posted at: <%= post.posted_at %>
      </span>
      <br>
    </div>
    <div class="post__body">
      <%= simple_format(post.message)%>
      	<%= form_for(@like, url: post_likes_path(post)) do |form| %>
      	  <%= form.hidden_field :post_id, :value => post.id %>
          <%= form.hidden_field :user_id, :value => current_user.id %>
      	  <%= form.submit "Like" %>
      	<% end %>
      <div id='likes'>likes: <%= Like.where(post_id: post.id).count %></div>
    </div>
</div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
