<% @posts.each do |post| %>
<p><%= post.message %></p>

  <%= form_for @like do |form| %>
    <%= form.hidden_field :post_id, :value => post.id %>
    <%= form.submit "Like" %>
  <% end %>

<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
