<h1>Posts</h1>

<%= form_for @post, url: {controller: "posts", action: "create"} do |form| %>
  <%= form.label :message, "Create a new post" %>
  <%= form.text_area :message, :rows =>4, :cols => 50 %>
  <%= form.submit "Submit" %>
<% end %>

<% @posts.each do |post| %>
  <div id='post-<%= post.id %>' class="post">
    <div class="post__head">
      <span class="post__head__user">
        <%= post.author_full_name %>
      </span>
      <span class="post__head__date">
        posted at: <%= post.posted_at %>
      </span>
      <br>
    </div>
    <div class="post__body">
      <%= simple_format(post.message)%>
      	<%= form_for(@like, url: post_likes_path(post)) do |form| %>
      	  <%= form.hidden_field :post_id, :value => post.id %>
          <%= form.hidden_field :user_id, :value => current_user.id %>
      	  <%= form.submit "Like" %>
      	<% end %>
      <div id='likes'>likes: <%= Like.where(post_id: post.id).count %></div>
    </div>
    <div class="comment__body">
      <% post.comments.each do |comment| %>
        (user posting comment goes here) <%= simple_format(comment.message) %>
      <% end %>
    </div>
    <%= form_for [post, @comment] do |form| %>
      <%= form.label 'Add Comment:' %>
      <%= form.text_area :message, :rows =>1, :cols => 50 %>
      <%= form.hidden_field :post_id, value: post.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "Submit" %>
    <% end %>
</div>
<% end %>
