<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">A C E B O O K</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="email" name='email'>
      <input class="form-control mr-sm-2" type="text" placeholder="password" name='password'>
      <button class="btn my-2 my-sm-0" type="submit" value='Log in'>Log in</button>
    </form>
  </nav>

  <body>
    <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>

    <% if current_user %>
      <a href="/users/<%= controller.current_user.id %>">My profile</a>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
